body {
    width: 80%;
    margin: auto;
    box-sizing: border-box;
}

/*users*/
.user-div {
    display: inline-block;
    width: 46.5%;
    margin: 15px;
    padding-bottom: 20px;
    text-align: center;
    border: 2px solid grey;
}

/*user details + posts*/
.user-div__details {
    width: 100%;
}

.user-div__details:first-of-type {
    margin-top: 30px;
}

.user-div__details div {
    width: 250px;
    margin: auto;
}

.user-btn__posts {
    display: block;
    margin: 30px auto;
    width: 90%;
}

.user-posts div {
    display: inline-block;
    width: 20%;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: bottom;
}

/*post + comments*/
.user-post {
    text-align: center;
    margin: 30px auto;
    padding: 10px;
    border: 2px solid grey;
}

.user-post__comments {
    width: 22%;
    height: 205px;
    display: inline-block;
    margin: .5%;
    padding: 10px;
    border: 2px solid grey;
    vertical-align: top;
}
