@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 1300px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.wrap {
    width: 260px;
    padding: 5px;
    height: 280px;
    display: inline-block;
    vertical-align: top;
}

.post-card h3{
    margin: 0;
}